/* https://color.adobe.com/Orange-on-gray-color-theme-2221 */
body {
}
.jump-section {
  background-color: #ffd18c;
}

svg {
  border: 1px solid hsl(171, 100%, 41%);
  width: 32px;
  height: 32px;
  fill:none;
  stroke:#000000;
  stroke-width:3;
  stroke-linecap:round;
  stroke-linejoin:round;
}

svg.dependency text {
  stroke-width: 0;
  fill: black;
}

svg.heading-svg {
  border: 1px solid black;
  height: 0.9em;
  width:0.9em;
  stroke-width: 5;
}

div.primitive-container-disp svg {
  border: 1px solid #00d1b2;
}

div.primitive-container, div.primitive-container-disp {
  line-height: 0;
}

div.kanji-container a {
  font-family: sans-serif;
}

svg.col-le {
  border-color: MistyRose;
}
svg.col-ri {
  border-color: BlanchedAlmond;
}
svg.col-to {
  border-color: Gold;
}
svg.col-bo {
  border-color: DarkKhaki;
}
svg.col-en {
  border-color: Wheat;
}
svg.col-fr {
  border-color: BurlyWood;
}
svg.col-a {
  border-color: Tan;
}
svg.col-b {
  border-color: RosyBrown;
}
svg.col-c {
  border-color: SandyBrown;
}
svg.col-d {
  border-color: Goldenrod;
}
svg.col-e {
  border-color: DarkGoldenrod;
}
svg.col-f {
  border-color: Peru;
}
svg.col-g {
  border-color: Chocolate;
}
svg.col-h {
  border-color: SaddleBrown;
}
svg.col-i {
  border-color: Sienna;
}
svg.col-j {
  border-color: Brown;
}
svg.col-k {
  border-color: Maroon;
}
svg.col-l {
  border-color: Pink;
}
svg.col-m {
  border-color: MediumVioletRed;
}
svg.col-n {
  border-color: Salmon;
}
svg.col-o {
  border-color: IndianRed;
}
svg.col-p {
  border-color: Tomato;
}
svg.col-q {
  border-color: Crimson;
}
svg.col-r {
  border-color: DarkOliveGreen;
}
svg.col-s {
  border-color: Olive;
}
svg.col-t {
  border-color: YellowGreen;
}
svg.col-u {
  border-color: Chartreuse;
}
svg.col-v {
  border-color: DarkSeaGreen;
}
svg.col-w {
  border-color: MediumSeaGreen;
}
svg.col-x {
  border-color: PaleTurquoise;
}
svg.col-y {
  border-color: DarkTurquoise;
}
svg.col-z {
  border-color: CadetBlue;
}

svg.primitive-selected {
  background-color: PowderBlue;
  stroke-width: 5;
}

.uservote {
}

.kanji-container a {
  font-size: large;
}
