/* https://color.adobe.com/Orange-on-gray-color-theme-2221 */
body {
}
.jump-section {
  background-color: #ffd18c;
}

span.svg-inside + span.svg-inside {
  margin-left: -1px;
}
div.primitive-container + div.primitive-container{
  margin-bottom: -1px;
}

svg {
  border: 1px solid hsl(171, 100%, 41%);
  width: 32px;
  height: 32px;
  fill:none;
  stroke:#000000;
  stroke-width:3;
  stroke-linecap:round;
  stroke-linejoin:round;
}

svg.dependency text {
  stroke-width: 0;
  fill: black;
}

svg.heading-svg {
  border: 1px solid black;
  height: 0.9em;
  width:0.9em;
  stroke-width: 5;
}

div.primitive-container-disp svg {
  border: 1px solid #00d1b2;
}

div.primitive-container, div.primitive-container-disp {
  line-height: 0;
}

div.kanji-container a {
  font-family: sans-serif;
}

span.svg-inside + span.svg-inside {
  margin-left: -1px;
}

svg.primitive-selected {
  background-color: PowderBlue;
  stroke-width: 5;
}

.uservote {
}

.kanji-container a {
  font-size: large;
}
